.App {
  background-color: #f7f7f7;
}

.padded {
  padding-left: 50px;
}

h1 {
  color: #000;
}

h1 .blue-header {
  color: rgba(66, 134, 245, 1);
}

button {
  height: 20px;
}

p .from-api {
  color: rgba(66, 134, 245, 1);
}
